// proyectos
@media (max-width: 700px) {

    .img-fluid {
        height: 450px!important;
    }
}
.pics {
    height: 420px!important;
}

// estrategias
.estrategias {
    h1 {
        font-weight: 900;
    }
    h3 {
        font-weight: 800;
    }
}